form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 24rem;

}

.inputs{
    display: flex;
    flex-direction: column; 
    gap: 0.5rem;


    input{
    color: blue;
    font-weight: bold;
    padding: 0.50rem;
    outline: none;
    border: none;
    border-radius: 0.25rem 0;
    font-size: 1.25rem;
    
}
}

.show{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.75rem;
    gap:0.5rem;

    input{
        width: 1rem;
        height: 1rem;
        cursor: pointer;

        &:checked{
            accent-color: #133a95;
        }

    }
}

.recovery{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

}

a{
    font-weight: bold;
    transition: 0.3s;

    &:hover{
        color: blue;
    }
}