@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jura", sans-serif;
  color: white;
  text-transform: uppercase;

}

html, body {
  min-height: 100vh;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #838da1 5%, #123076 99%);

}

h1{
    font-size: 3rem;
    text-shadow: 0.1rem 0.1rem 1rem black ;
}
h2 {
    margin-bottom: 20px;
    text-shadow: 0.1rem 0.1rem 1rem black ;

}

button {
  padding: 0.5rem 3rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #133a95;
  transition: 0.5s ease-in-out;
  box-shadow: 0.3rem 0.3rem 1rem #133a95 ;

  
    &:hover{
        background-color: #001c5e;
        color: white;
    }

    &:active{
        opacity: 0.7;
        
    }


}
